html,body,ul,li,a,h1,h2,h3,h4,h5,h6,p{
    margin:0;padding:0;
    font-style: normal;list-style: none;
}
html,body{
    font-size: 0.28rem;
    width:100%;height:100%;background: #EDEDED;
}
a{
    text-decoration: none;font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color:#000;
}
*{
    box-sizing: border-box;
}
.header a:hover{
    color:#0cb99b;
}
.list-header{
    width:100%;height:1.2rem;
    background:#39706B;
    line-height: 1.2rem;
    text-align: center;
}
.content-header,.login-header{
    width:100%;height:1.2rem;
    background:#39706B;
    line-height: 1.2rem;
}
.content-header a,.login-header a:nth-of-type(1){
    margin-right: 0;
    margin-left: .2rem;
}
/*内容页*/
.content{
    width:100%;height:10.8rem;
    padding:0.28rem 0.28rem 0 0.28rem ;
    background: #F9F9F9;
}
.header a{
    font-size: .5rem;font-weight:bold;color:#fff;
    margin-right: .3rem;
}

.content-content .title{
    font-size: 0.37rem!important;margin-bottom:0.28rem;
}
.user{
    width:100%;height:0.6px;
}
.user .user-img{
    width:0.6rem;height:0.6rem;float: left;
    margin-right:.3rem;
}
.user .user-xx{
    width:2.5rem;height:0.56rem;
}
.user .user-xx .id,.user .user-xx .time{
    color:#ccc;float: left;
}
.news{
    width:100%;height:auto;
    margin-top: 1rem;line-height: .4rem;
}
.news img{
    width:100%;height:2.81rem;
}
.bottom{
    width:6.7rem;height:.6rem;margin:0 auto;
    line-height: .6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;margin-top: .4rem;
}

/*list*/
.mk{
    width:100%;height:3.28rem;border-bottom:0.03rem solid #666;
}
.mk .title,.mk .lists,.mk .user{
    padding:0.2rem 0.28rem 0 0.28rem ;
}
.mk .user .user-xx{
    float: right;
}
.mk .user .user-xx .id{
    margin-right: .3rem;
}
.list-content{
    padding:0;
}
.lists img{
    width:2.06rem;height:1.5rem;
}
.list-bottom{
    width:5.24rem;
}
.list-bottom{
    font-size: .3rem!important;font-weight:bold;color:#000;
    text-align: center;
}
/*首页*/
.swiper-container,.swiper-container img {
    width: 100%;
    height: 4.08rem;
}
.index-content .mk{
    margin-top: .3rem;
    height:2.3rem!important;
}

.session,.session img,.session-right{
    height: 1.22rem;
}
.session{
    float: left;
    width: 1.6rem;
    margin-right: .3rem;
}
.index-content .title{
    padding:0 0.28rem 0 0;
}
.index-content .time{
    float: right;margin-top: .2rem;
}
.index-content .lists{
	text-align: center;
}
.index-content .lists p{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
}
/*登录界面*/
.login-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-header .register{
    color:#0cb99b;
}
.login-content{
    width:100%;height:auto;padding:0.28rem 0.28rem 0 0.28rem;
}
.login-content .admin,.login-content .pass{
    width:100%;height:1.2rem;
    border-bottom: 0.02rem solid #ccc;
    line-height: 1.2rem;font-size: 0.8rem;
}
.login-content input{
    display: inline-block;
    width:5rem;
    height:.8rem;
    font-size: 0.48rem;color:#a1a1a1;
    border:none;background:#F9F9F9
}
.login-content .btn{
    display: block;width:100%;height:1.28rem;
    background: #00BC9C;margin-top: .5rem;
    font-size: 0.48rem;color:#fff;text-align: center;line-height: 1.28rem;
}
.spc{
    width:100%;height:2.5rem;
    border-bottom:0.02rem solid #bcbcbc;
}
.quick{
    margin: auto;
    width:2.4rem;height:0.9rem;
    font-size: 0.48rem;color:#a1a1a1;text-align: center;line-height: 0.9rem;
    margin-top:-0.5rem;background: #f9f9f9;
}
.link{
    width:100%;height:auto;
    margin-top:.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link .icon{
    width:1.5rem;height:1.5rem;
}